{% extends "layout.html" %}

{% block content %}
<h1>Employee Schedule Report</h1>
<div>
    <form>
        <table border="1" cellpadding="10">
            <tr>
                <th align="center">Name</th>
                <th align="center">Department</th>
                <th align="center">Shift Date</th>
                <th align="center">Shift Day</th>
                <th align="center">Shift Start Time</th>
                <th align="center">Shift End Time</th>
            </tr>
            {% for schedule in schedulereport %}
            <tr>
                <td align="center">{{schedule[0]}}</td>
                <td align="center">{{schedule[1]}}</td>
                <td align="center">{{schedule[2]}}</td>
                <td align="center">{{schedule[3]}}</td>
                <td align="center">{{schedule[4]}}</td>
                <td align="center">{{schedule[5]}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}