{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Store Sales and Staffing Prediction</h1>
    <p class="lead">SSSP is a web app to manage the products, sales and many other details of products for a grocery store. It also handles staffing reports and manage schedules for all the staff. It has logins for admin, vendor and employees with their respective role privilages to perform operations and view reports.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            Admin can view basicaly every column on the navigation bar and add/edit all the records in the application including product details and staff details.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vendor</h2>
        <p>Vendor can only view the product reports as vendors are only for product purchase and returns which are available in the product reports.</p>
    </div>
    <div class="col-md-4">
        <h2>Employee</h2>
        <p>Employees can only view pages which are relevant to them which are product reports and and employee schedule reports.</p>
    </div>
</div>

{% endblock %}
