{% extends "layout.html" %}

{% block content %}
<h1>Login</h1>
<div>
    <form action="" method="POST">
        <table>
            <tr>
                <td>Email ID:</td>
                <td><input type="email" name="EmailID" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="Password" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login" /></td>
            </tr>
            <tr>
                <td>Don't have an account?</td>
                <td><a href="{{ url_for('registration') }}">Register here</a></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}