{% extends "layout.html" %}

{% block content %}
<h1>Registration</h1>
<div>
    <form action="" method="POST">
        <table>
            <tr>
                <td>Register As:</td>
                <td>
                    <select name="Role">
                        <option value="Employee">Employee</option>
                        <option value="Vendor">Vendor</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="FirstName" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="LastName" /></td>
            </tr>
            <tr>
                <td>Email ID:</td>
                <td><input type="email" name="EmailID" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="Password" /></td>
            </tr>
            <tr>
                <td>Contact No:</td>
                <td><input type="text" name="ContactNo" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Register" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}