{% extends "layout.html" %}

{% block content %}
<h1>Add Season</h1>
<div>
    <form action="" method="POST">
        <table>
            <tr>
                <td>Season:</td>
                <td><input type="text" name="Season" placeholder="Season" required /></td>
            </tr>
            <tr>
                <td>Start Month:</td>
                <td><input type="date" name="StartMonth" required /></td>
            </tr>
            <tr>
                <td>End Month:</td>
                <td><input type="date" name="EndMonth" required /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add Season" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}