{% extends "layout.html" %}

{% block content %}
<h1>Staff Schedule Detail</h1>
<div>
    <form action="" method="POST">
        <table>
            <tr>
                <td>Staff schedule detail:</td>
                <td>
                    <select name="StaffID">
                        {% for s in staff %}
                        <option value={{s['StaffID']}}>{{s['StaffID']}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="date" name="Date" /></td>
            </tr>
            <tr>
                <td>Day Week:</td>
                <td><input type="text" name="DayWeek" /></td>
            </tr>
            <tr>
                <td>Shift Start:</td>
                <td><input type="time" name="ShiftStart" /></td>
            </tr>
            <tr>
                <td>Shift End:</td>
                <td><input type="time" name="ShiftEnd" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
